body {
  font-family: 'Open Sans', sans-serif;
}
.breadcrumb-item {
  font-size: 0.8em !important;
}
.ellipsis{
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /*제목의 내용이 너무 길면 ... 으로 출력*/
}

.board-table {
  table-layout: fixed;
}
.board-table .date {
  width: 100px;
}

.post-body{
  white-space: pre-line; /*게시물 본문의 줄바꿈 처리*/
}
.post-info{
  font-size: 0.8em;
}
