<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron"> <!-- bootstrap components -->
        <h1>My Board</h1>
        <P>환영합니다. 게시판 예제입니다.</p>
      </div>

    </div>
  </body>
</html>
